name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test auto-doc
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          workdir: test
          go_version: "1.14.4"

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: '1.14.4'

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-v2-

      - name: Run auto-doc using the current working directory
        uses: ./

      - name: Run auto-doc using the test directory
        uses: ./
        with:
          action: "test/action.yml"
          output: "test/README.md"

      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@v8.3
        id: verify_changed_files
        with:
          files: |
            README.md

      - name: Create Pull Request
        if: steps.verify_changed_files.outputs.files_changed == 'true'
        uses: peter-evans/create-pull-request@v3
        with:
          base: "main"
          title: "Updated README.md"
          branch: "chore/update-readme"
          commit-message: "Updated README.md"
          body: "Updated README.md"
          token: ${{ secrets.PAT_TOKEN }}

