name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test auto-doc
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1.9
      - name: Run auto-doc
        uses: ./
